.section {
  height: 100vh;
  width: 75vw;
  overflow: auto;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-auto-rows: 45vh;
  margin-top: 10vh;
}

.card {
  background-image: linear-gradient(to bottom right, #80d8ff, #40c4ff);
  height: 80%;
}

.date_time {
  background-color: white;
}

.header-div {
  height: 10vh;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #424242;
  color: white;
  width: 75%;
  position: fixed;
}

h1 {
  margin: 0px;
  
}

.select-button {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 750px) {
  .section {
    height: 100vh;
    width: 67vw;
  }

  .header-div {
    height: 7vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #424242;
    color: white;
    width: 67%;
    position: fixed;
  }

  .events-grid {
    margin: 1vw;
    margin-top: 7vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    grid-auto-rows: 35vh;
  }

  h1 {
    margin: 0px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 560px) {
  .section {
    height: 100vh;
    width: 50vw;
  }

  .events-grid {
    margin: 2vw;
    margin-top: 7vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-rows: 30vh;
    grid-template-columns: repeat(1, 1fr);
    /* grid-auto-columns: 40vw; */
  }

  .header-div {
    height: 7vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #424242;
    color: white;
    width: 50%;
    position: fixed;
  }
}
