.App {
  text-align: center;
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section {
  height: 100vh;
  width: 50vw;
  overflow: auto;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-auto-rows: 45vh;
  margin-top: 10vh;
}

@media only screen and (max-width: 750px) {
  .events-grid {
    margin: 2vw;
    margin-top: 7vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    grid-auto-rows: 35vh;
  }
}

@media only screen and (max-width: 380px) {
  .section {
    height: 100vh;
    width: 50vw;
  }

  .events-grid {
    margin: 2vw;
    margin-top: 7vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-rows: 30vh;
    grid-auto-columns: 40vw;
  }
}


